@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #fdfdfd;
  --color-goldenrod: rgba(198, 184, 63, 0.46);

  /* Paddings */
  --padding-3xs: 10px;

  /* border radiuses */
  --br-27xl: 46px;
}
